params {
    manifest = false
    counts = false
    algorithm = "deseq2"
    comp_col = false
    comp_ref = false
    group_cols = false
    filter = false
    output_folder = false
    min_count = 10
    min_total_count = 15
    large_n = 10
    min_prop = 0.7
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
    container__deseq2 = "quay.io/biocontainers/bioconductor-deseq2:1.34.0--r41h399db7b_0"
    container__edger = "quay.io/biocontainers/bioconductor-edger:3.36.0--r41h399db7b_0"
}

profiles {
    standard {
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 4.GB
            }
            withLabel: mem_medium {
                cpus = 4
                memory = 30.GB
            }
            withLabel: cpu_medium {
                cpus = 8
                memory = 15.GB
            }
            withLabel: cpu_verylarge {
                cpus = 36
                memory = 58.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
        }
    }
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
        process {
            withLabel: io_limited {
                cpus = 1
                memory = 1.GB
            }
            withLabel: mem_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_medium {
                cpus = 1
                memory = 1.GB
            }
            withLabel: cpu_verylarge {
                cpus = 1
                memory = 1.GB
            }
            errorStrategy = 'retry'
            maxRetries = 5
            maxForks = 10
        }
    }
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/FredHutch/pw-differential-expression'
    mainScript = 'main.nf'
    name = 'Differential Expression (PubWeb)'
    nextflowVersion = '>=21.04.0'
    version = '1.0'
}

